torch >= 2.1.0
transformers==4.37.0
accelerate
tiktoken==0.5.2
tokenizers==0.15.1
einops
transformers_stream_generator==0.0.4
scipy
auto-gptq
openai
fschat==0.2.35
ninja # For faster builds.
psutil
ray >= 2.5.1
pandas # Required for Ray data.
pyarrow # Required for Ray data.
sentencepiece # Required for LLaMA tokenizer.
numpy
xformers >= 0.0.22.post7 # Required for CUDA 12.1.
fastapi
uvicorn[standard]
pydantic == 1.10.13 # Required for OpenAI server.
